body {
    font-family: Arial, sans-serif;
    background-color: yellowgreen;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
h1 {
    text-align: center;
}
.info {
    margin-top: 20px;
}